body {
  display: contents;
  font-family: arial, sans-serif;
  color: #1f1f1f;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.leftBar {
  display: flex;
  gap: 15px;
}

.rightBar {
  display: flex;
  gap: 15px;
}

.navItem {
  color: black;
  text-decoration: none;
  margin-right: 15px;
}

.navItem:hover {
  text-decoration: underline;
}

.main {
  margin-top: 180px;
  text-align: center;
}

.naverImg {
  margin-bottom: 20px;
}

.inputArea {
  margin-top: 20px;
}
.inputBox {
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #03c75a;
  padding-left: 40px;
  padding-right: 40px;
}
.searchIcon {
  position: relative;
  left: 40px;
  color: #9aa0a6;
}
.micIcon {
  position: relative;
  right: 40px;
  color: #9aa0a6;
}

.buttonArea {
  padding-top: 18px;
}

.button-style {
  font-family: arial, sans-serif;
  color: #3c4043;
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  padding: 0 16px;
  margin: 11px 4px;
}

.button-style:hover {
  color: #03c75a;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
}

.languageArea {
  margin-top: 18px;
}

.language {
  color: #1a0dab;
  text-decoration: none;
  padding: 0 3px;
}
.language:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  background: #f2f2f2;
  bottom: 0px;
  width: 100%;
}

.firstLine {
  font-size: 16px;
  color: #333;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.secondLine {
  padding: 15px 30px;
  font-size: 16px;
  color: #333;
}

.second-line-second {
  float: right;
}

.secondLine a {
  color: #333;
  text-decoration: none;
  padding-right: 25px;
}

.secondLine a:hover {
  text-decoration: underline;
}
